.idea
.venv
mysql
.env
/poetry.lock

/apps/user/migrations/*
/apps/adverts/migrations/*
/apps/auto_salon/migrations/*

/apps/categories/migrations/*
/apps/car_mark/migrations/*
/apps/car_model/migrations/*

/apps/chat/migrations/*
/apps/currency/migrations/*

/apps/currency/region/*
/apps/currency/city/*

/apps/visits_count/migrations/*

